@model GymTrack.Models.FitnessCenter

<h1>Details</h1>

<dl class="row">
    <dt>Name</dt>
    <dd>@Model.Name</dd>

    <dt>Address</dt>
    <dd>@Model.Address</dd>

    <dt>Description</dt>
    <dd>@Model.Description</dd>

    <dt>Working Hours</dt>
    <dd>@Model.OpeningTime - @Model.ClosingTime</dd>
</dl>

<a asp-action="Index">Back</a>
